html, body {
  height: 100%;
}

body {
  font-family: 'Roboto';
  margin: 0;
  padding-top: 0.1px;
}

textarea {
  white-space: pre;
  overflow-wrap: normal;
  overflow-x: scroll;
}

.webcard-apdu {
  font-family: 'Consolas', monospace;
}

.ghbtns {
  display: flex;
  justify-content: right;
}